*{
    color: white;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: var(--warna-bg);
}

.kotaknav{
    background-color: black;
    width: 100%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 9;
}

.kotaklogo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 105px;
}

.kotaklogo a{
    text-align: center;
}

.kotaklogo img{
    width: 100%;
}

.kotakbar{
    align-items: center;
    display: none;
}

.kotakbar a{
    text-decoration: none;
    padding: 15px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.kotakabout{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-top: 7%;
    padding-bottom: 12%;
    color: var(--warna-tulisan);
}

.kotakabout .isiabout a{
    justify-content: space-evenly;
    display: flex;
}

.kotakabout .isiabout img{
    height: auto;
    width: 100%;
    align-items: center;
}

.textabout{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
    color: var(--warna-tulisan);
}

.textabout h1{
    color: var(--warna-tulisan);
    font-size: 85px;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: 0px;
}

.textabout h3{
    color: var(--warna-tulisan);
    font-size: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.textabout p{
    color: var(--warna-tulisan);
}

.text p{
    color: white;
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.isiabout{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    color: var(--warna-tulisan);
}

.contactus{
    width: 100%;
    left: 0;
    right: 0;
    position: relative;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("gambar/bgacc.jpg");
    background-position: center;
    background-size: cover;
}

.contactus .isicontact{
    max-width: 500px;
    text-align: center;
}

.contactus .isicontact h2{
    font-size: 40px;
    font-weight: 450;
    color: white;
}

.contactus .isicontact p{
    font-size: 25px;
    font-weight: 250;
    padding: 15px   ;
    color: white;
}

.containercontact{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.containercontact .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.containercontact .contactInfo .box{
    position: relative;
    padding: 25px 0;
    display: flex;
}

.containercontact .contactInfo .box .icon{
    height: 50px;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.containercontact .contactInfo .box .text{
    margin-left: 20px;
    font-size: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: 250;
}

.containercontact .contactInfo .box .text h3{
    color: white;
    font-weight: 300;
}

#nav.bar1{
    display: none;
}

.nav{
    display: flex;
    color: var(--warna-tulisan);
}

.nav{
    align-items: center;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
}

.nav a{
    text-decoration: none;
    padding: 10px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

.nav a:hover{
    border-bottom: 5px solid white;
}

.nav a.icon{
    text-decoration: none;
    padding: 15px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.searchbar{
    align-items: center;
    display: flex;
}

.searchbar input{
    width: 100%;
    border-radius: 25px;
    font-size: 15px;
    padding: 10px;
    background-color: white;
    color: black;
}

.searchbar :hover{
    border-radius: 25px;
    opacity: 0.8;
}

.searchbar :focus{
    border-radius: none;
}

.login{
    color: white;
    display: flex;
    background-color: black;
    font-weight: bold;
    border: 0;
}

.hidden-log{
    visibility: hidden;
    padding-top: 3px;
    padding-bottom: 11px;
}

.login:hover{
    opacity: 0.6;
    cursor: pointer;
}

.login{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.login a{
    padding: 10px 10px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.login :hover{
    opacity: 0.8;
}

.form-log{
    left: 0;
    bottom: 50%;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding-top: 8.5%;
    padding-bottom: 4%;
    color: var(--warna-tulisan);
}

.form-log input{
    width: 100%;
    color: var(--warna-bg);
}

.form-log2{
    left: 0;
    bottom: 50%;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    color: var(--warna-tulisan);
}

.form-log2 input{
    width: 100%;
    color: var(--warna-bg);
}

.form-input{
    width: 100%;
    max-width: 350px;
    padding: 30px 30px;
    padding-bottom: 40px;
    background-color: var(--warna-seken);
    border: 5px solid var(--warna-tulisan);
    color : var(--warna-tulisan);
}

.form-input1{
    width: 100%;
    max-width: 550px;
    padding: 30px 30px;
    padding-top: 15px;
    padding-bottom: 40px;
    color : var(--warna-tulisan);
}

.form-input1 input{
    margin: auto;
    width: 100%;
    text-align: center;
}

.form-tombol1{
    margin: auto;
    width: 100%;
    max-width: 550px;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.form-tombol1 input{
    background-color: var(--warna-tulisan);
    color: var(--warna-seken);
    height: 35px;
}

.form-tombol2{
    margin: auto;
    width: 80%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    padding: 15px;
}

.form-tombol2 input{
    height: 35%;
    text-decoration: none;
}

.form-batas{
    width: 100%;
}

.form-tombol{
    width: 100%;
    padding: 5px;
    align-items: center;
    justify-content: space-around;
    color: var(--warna-tulisan);
}

.form-tombol h1{
    color: var(--warna-tulisan);
}

.form-tombol b{
    color: var(--warna-tulisan);
}

.form-tombol label b{
    color: var(--warna-tulisan);
}

.form-tombol input{
    background-color: var(--warna-tulisan);
    color: var(--warna-seken);
}

.form-tombol textarea{
    width: 100%;
    padding: 5px;
    align-items: center;
    justify-content: space-around;
    resize: vertical;
    background-color: var(--warna-tulisan);
    color: var(--warna-seken);
}

.form-gambar{
    width: 100%;
    padding: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-invalid{
    width: 100%;
    padding: 0px;
}

.form-invalid p{
    padding-left: 5px;
}

.form-register{
    text-align: center;
    padding-top: 5px;
}

.form-register a{
    color: var(--warna-tulisan);
    text-decoration: none;
}

.form-register a:hover{
    opacity: 0.8;
}

.form-register p{
    color: var(--warna-tulisan);
}

.form-header{
    width: 100%;
    padding: 5px;
    text-align: center;
    justify-content: space-around;
    color: var(--warna-tulisan);
}

.form-header h2{
    color: var(--warna-tulisan);
}

.form-feed{
    width: 100%;
    height: 100%;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.tombol{
    width: 100%;
    background-color: var(--warna-tulisan);
    padding: 2px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.tombol a{
    text-decoration: none;
    color: red;
}

.tombol1{
    width: 100%;
    background-color: var(--warna-tulisan);
    color: var(--warna-bg);
    padding: 2px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.tombol2{
    width: 60%;
    height: 30%;
    background-color: var(--warna-seken);
    color: var(--warna-tulisan);
    padding: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid var(--warna-tulisan);
    outline: none;
}

.tombol2:focus{
    border: 2px solid var(--warna-tulisan);
    outline: none;
}

.tombol2:hover{
    opacity: 0.7;
}

.tombol:hover{
    opacity: 0.7;
}

.tombol1:hover{
    opacity: 0.7;
}

.nightmode{
    display: flex;
}

.nightmode{
    align-items: center;
    justify-content: space-around;
    width: 5%;
}

.nightmode1{
    display: none;
}

.nightmode1{
    align-items: center;
    justify-content: space-around;
    width: 5%;
}

.content1{
    width: 100%;
    object-fit: contain;
    padding-top: 1.5%;
    left: 0;
    right: 0;
    top: 0;
}

.content2{
    width: 100%;
    color: var(--warna-tulisan);
    text-align: left;
    padding: 10px 40px;
    font-size: 30px;
}

.content3{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px 35px;
}

.content4{
    width: 100%;
    object-fit: contain;
    left: 0;
    right: 0;
    padding-top: 20px;
}

.content5{
    width: 100%;
    color: var(--warna-tulisan);
    text-align: center;
    padding: 10px 40px;
    font-size: 30px;
}

.gambar2{
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 5px 5px;
}

.gambar2:hover{
    opacity: 0.7;
}

.kotakfilo{
    width: 100%;
    color: var(--warna-tulisan);
    text-align: center;
    padding: 10px 60px;
    font-size: 40px;
}

.kotaksign{
    width: 100%;
    padding: 15%;
    padding-top: 6px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: space-around;
}

.aboutus{
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.gambar1{
    align-items: center;
    justify-content: center;
    width: 33%;
    padding: 5px 5px;
}

.gambar1:hover{
    opacity: 0.7;
}

.footer-basic {
    margin-top: auto;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
    position: absolute;
}   

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .copyright {
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
    color: #aaa;
    margin-bottom: 0;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    width: 60px;
    right: 30px;
    z-index: 9;
}
  
.theme-switch input {
    display:none;
}
  
.slider {
    background-color: white;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
  
.slider:before {
    background-color: black;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}
  
input:checked + .slider{
    background-color: white;
}
  
input:checked + .slider:before {
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.theme-switch-wrapper1 {
    display: flex;
    align-items: center;
    position: relative;
}

.theme-switch1 {
    display: inline-block;
    height: 34px;
    width: 60px;
    right: 30px;
    z-index: 9;
}
  
.theme-switch1 input {
    display:none;
}
  
.slider1 {
    background-color: white;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
  
.slider1:before {
    background-color: black;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}
  
input:checked + .slider1{
    background-color: white;
}
  
input:checked + .slider1:before {
    transform: translateX(26px);
}
  
.slider1.round1 {
    border-radius: 34px;
}
  
.slider1.round1:before {
    border-radius: 50%;
}

.form-log3{
    left: 0;
    bottom: 50%;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    color: var(--warna-tulisan);
}

.tabel-data{
    max-width: 100%;
    align-items: center;
    margin: auto;
    justify-content: space-evenly;
    padding: 50px;
    margin-top: 5%;
    margin-bottom: 5%;
    left: 0;
    right: 0;
}

.tabel-data a{
    text-decoration: none;
}

.tabel-tambah{
    width: 100%;
    text-align: center;
    padding: 10px 10px;
}

.tabel-tambah a{
    color: var(--warna-tulisan);
    font-size: 25px;
    text-decoration: none;
}

.tabel-tambah a:hover{
    opacity: 0.5;
}

table{
	width:100%;
    background-color: var(--warna-tabel);
    color: var(--warna-tulisan);
    border-collapse: collapse;
    text-align: center;
}

table a{
    font-size: 25px;
}

table a:hover{
    text-decoration: none;
}

th {
    font-size: 18px;
    background-color: var(--warna-tulisan);
    color: var(--warna-seken);
}

td {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    border-left: none;
    color: var(--warna-tulisan);
    border-bottom: 1px solid var(--warna-tulisan);
}

.fa-eye{
    color: var(--warna-tulisan);
}

.fa-eye:hover{
    cursor: pointer;
    opacity: 0.5;
}

.fa-pencil-square-o{
    color: var(--warna-tulisan);
}

.fa-pencil-square-o:hover{
    cursor: pointer;
    opacity: 0.5;
}

.fa-trash{
    color: var(--warna-tulisan);
}

.fa-trash:hover{
    cursor: pointer;
    opacity: 0.5;
}

.form-input2{
    width: 100%;
    max-width: 550px;
    padding: 30px 30px;
    padding-top: 15px;
    padding-bottom: 40px;
    color : var(--warna-tulisan);
}

.kotak-review{
    width: 100%;
    padding: 5px;
    align-items: center;
    text-align: left;
}

.kotak-review-gambar{
    width: 100%;
    padding: 5px;
    align-items: center;
    text-align: left;
}

.kotak-img{
    display: flex;  
    flex-direction: row;
    width: 100%;
    max-width: 300px;
    margin: auto;
}

.kotak-tombol{
    width: 100%;
    align-items: center;
    display: flex;
}

.kotak-luar{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    left: 0;
    right: 0;
    display: flex;  
    align-items: center;
    margin: auto;
}

.mySlides{
    display: none;
}

.prev{
    position: relative;
    cursor: pointer;
    border: solid 2px transparent;
    color: var(--warna-tulisan);
    padding: 15px;
    font-size: 30px;
}

.next{
    position: relative;
    cursor: pointer;
    border: solid 2px transparent;
    color: var(--warna-tulisan);
    padding: 15px;
    font-size: 30px;
}

.prev:hover{
    opacity: 0.3;
}

.next:hover{
    opacity: 0.3;
}

:root{
    --warna-tulisan : white;
    --warna-bg : #0f0f0f;
    --copyright : #aaa;
    --warna-seken : black;
    --warna-tabel : black;
}

[data-theme="light"] {
    --warna-tulisan : black;
    --warna-bg : white;
    --copyright : white;
    --warna-seken : white;
    --warna-tabel : whitesmoke;
}

@media screen and (max-width: 1225px) {
    .kotakabout{
        margin: auto;
        padding-top: 0%;
    }
    .form-log{
        padding-top: 12.5%;
        padding-bottom: 9%;
    }
    .textabout h1{font-size: 65px}  
    .kotakabout .isiabout img{width: 60%;}
}

@media screen and (max-width: 1015px){
    .kotak-luar{
        padding-left: 50px;
        flex-wrap: wrap;
    }
    .kotak-img{margin: auto;}
    .kotak-review-gambar{width: 90%;}
}

@media screen and (max-width: 760px) {
    .content2{font-size: 20px;}
    .kotakfilo{font-size: 20px;}
    #login{ display: block;}
    .hidden-log {visibility:visible;}    
    .nav { display: none;}
    .nightmode {display: none;}
    .nightmode1 {display: flex;}
    .responsive {
        width: 100%;
        background-color: black;
        display: flex;
        top: 63px;
        flex-direction: column;
        position: absolute;
        padding: 10px;
    }
    .login {display: none;}
    .login {position: relative;}
    .kotaklogo {max-width: 100%;}
    .kotaklogo img {width: 50%;}
    .kotakbar {display: flex;}
    .form-log{
        padding-top: 16.5%;
        padding-bottom: 13%;
    }  
    .textabout h1{font-size: 25px}  
    .textabout h3{font-size: 20px}  
    .kotakabout .isiabout img{width: 70%;}
    .contactus .isicontact h2{font-size: 30px;}
    .contactus .isicontact p{font-size: 18px;}
    .contactus{background-size: cover;}
}

@media screen and (max-width: 680px){
    .containercontact {
        justify-content:center;
        display: flex;
    }
    .containercontact p{font-size: 15px;}
    .containercontact .contactInfo .box{
        display: block;
    }
    .containercontact .contactInfo .box .text{
        margin-left: 0;
        text-align: center;
    }
}

@media screen and (max-width: 600px){
    .textabout h1{font-size: 22px}  
    .textabout h3{font-size: 15px}  
    .kotakabout .isiabout img{width: 70%;}
    .contactus{width: 100%;}
    .form-input1{
        padding: 70px 70px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .kotak-review-gambar{width: 80%;}
}

@media screen and (max-width: 460px) {
    .content1{padding-top: 14%;}
    .content2{font-size: 16px;}
    .kotakfilo{font-size: 16px;}
    .nav { display: none;}
    .nightmode {display: none;}
    .nightmode1 {display: flex;}
    .responsive {
        width: 100%;
        background-color: black;
        display: flex;
        top:63px;
        flex-direction: column;
        position: absolute;
        padding: 5px;
    }
    .login {display: none;}
    .login {position: relative;}
    .kotaklogo {max-width: 100%;}
    .kotaklogo img {width: 50%;}
    .kotakbar {display: flex;}
    .kotakabout .isiabout img{width: 90%;}
    .text h1{
        font-size: 50px;
        margin-bottom: 25px;
    }
    .form-log{
        padding-top: 25.5%;
        padding-bottom: 13%;
    }  
    .kotakabout{text-align: center;}
    .kotakabout p{font-size: 12px;}
    .containercontact {
        justify-content: center;
        display: flex;
        width: 100%;
    }
    .textabout h1{font-size: 18px}  
    .textabout h3{font-size: 14px}  
    .kotak-review-gambar{width: 70%;}
}

@media screen and (max-width: 345px) {
    .content1{padding-top: 30%;}
    .content2{font-size: 20px;}
    .kotakfilo{font-size: 20px;}    
    .nav { display: none;}
    .nightmode {display: none;}
    .nightmode1 {display: flex;}
    .responsive {
        width: 100%;
        background-color: black;
        display: flex;
        top:100px;
        flex-direction: column;
        position: absolute;
        padding: 5px;
    }
    .login {display: none;}
    .login {position: relative;}
    .kotaklogo {max-width: 100%;}
    .kotaklogo img {width: 50%;}
    .kotakbar {display: flex;}
    .kotakabout .isiabout img{width: 60%;}
    .text h1{
        font-size: 40px;
        margin-bottom: 25px;
    }
    .form-log{
        padding-top: 25.5%;
        padding-bottom: 16%;
    }  
    .kotak-review-gambar{width: 60%;}
}

@media screen and (max-width: 344px){
    .form-log{
        padding-top: 50%;
    }
}
